/* ---------- Responsive ---------- */

@media (max-width: 1024px) {
  .header-actions {
    gap: 16px;
  }
  .header-actions__item span:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .topbar__message {
    max-width: 55%;
  }
  .main-header__inner {
    gap: 16px;
  }
  .searchbar__category-btn span:first-child {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
